.movie-card {
    position: relative;
    border: 3px solid white;
    background-color: #1c2541;
    border-radius: 10px;
    overflow: hidden;
    transition: border-color 300ms ease-in-out;

    &:hover {
        border-color: #3b476b;
    }

    .movie-image {
        width: 100%;
        object-fit: cover;
        cursor: pointer;
    }

    .movie-title {
        color: white;
        text-align: center;
        margin: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dashed white;
    }

    .movie-description {
        color: white;
        padding: 10px;
        text-align: center;
        margin: 0;
        margin-bottom: 50px;
    }

    .btnInfo {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 14px 24px;
        width: 100%;
        border: none;
        color: white;
        background-color: #3a506b;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        transition: 300ms ease-in-out;

        a {
            color: white;
            text-decoration: none;
        }

        &:hover {
            background-color: #49d473;
        }
    }
}
