.app {
    max-width: 1400px;
    margin: 0 auto;

    h1 {
        color: white;
        font-size: 40px;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
